{%- include('../partials/incHeader') %}
<div class="container">
    <div class="py-1 mb-3">
        <nav class="nav justify-content-between">
            {% for (const category of categories) { %}
            <a class="nav-item nav-link {%= selectedCategory==category._id? 'link-underline':'' %} link-offset-3 link-offset-0-hover mb-2"
                id='{%= category._id %}' href="/posts?filter[blogCategoryId]={%= category._id %}&page=1">
                <b>{%= category.name %}</b>
            </a>
            {% } %}
        </nav>
    </div>
</div>
</div>
<!-- main start -->
<main class="container">
    <div class="row g-5">
        <div class="col-md-8 col-12">
            {% const url=user?"/posts/create":"/auth/login" %}
            <div class="d-flex justify-content-between align-items-center  p-4">
                <h3 class="fst-italic">
                    Welcome!
                </h3>
                <a class="btn btn-primary" href="{%= url %}">New Post</a>
            </div>
            {%- include('post') %}
            {%- include('../partials/incPagination') %}
            <div class=" text-center mb-4">
                <span class=" p-2 text-black">Showing {%= details.skip+1 %} to {%= details?.pages?.next ?
                    details.skip+ details.limit: details?.totalRecords %} of {%=
                    details.totalRecords %} Entries </span>
            </div>
        </div>
        <div class="col-md-4 d-none d-md-block position-sticky">
            <div class="sticky-top">
                <h3 class="fst-italic text-center">Recent Posts</h3>
                <ul class="list-unstyled">
                    {% for (const recentPost of recentPosts) { %}
                    <li class="py-2 border-bottom d-flex flex-column">
                        <a class="link-body-emphasis text-decoration-none" href="/posts/{%= recentPost?.id %}">
                            <h5>{%= recentPost.title %}</h5>
                        </a>
                        <p class="my-2 text-justify">{%= recentPost.content.substring(0, 132)
                            %} ...</p>
                        <small class="text-body-secondary">{%= recentPost.createdAt.toUTCString() %}</small>
                    </li>
                    {% } %}
                </ul>
            </div>
        </div>
    </div>
</main>
<!-- main end -->

{%- include('../partials/incFooter') %}

<!--to open readmore clicked -->
<!-- <script>
    function readMore(postId) {
        const dots = document.getElementById("dots-" + postId);
        const moreText = document.getElementById("more-" + postId);
        const btnText = document.getElementById("myBtn-" + postId);
        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "read less";
            moreText.style.display = "inline";
        }
    }
</script> -->