{% for (const post of posts) { %}
<article class="my-4 ">
    {% const url=user ? "/posts/"+post._id : "/auth/login" %}
    <div class="d-flex flex-column">
        <a href="{%= url %}" class="link-body-emphasis text-decoration-none">
            <h5 class="display-6 mb-4">{%= post.title %}</h5>
        </a>
        <p class="text-muted">
            {%= post.createdAt.toUTCString() %}
        </p>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="small-div">
                <img class="small-image" src="{%= post.imageUrl %}" alt="{%= post.title%}">
            </div>
        </div>
        <div class="col-8">
            <p class="text-justify mx-3">
                {%= post.content.substring(0, 500) %}
                <a href="{%= url %}"><span id="dots-{%= post._id %}">...readmore</span></a>
                <!-- <span id="more-{%= post._id %}" style="display: none;">
                                                                        {%= post.content.substring(501) %}
                                                                    </span> -->
                <!-- <a href="javascript:void(0);" onclick="readMore('{%= post._id %}')"
                                                                        id="myBtn-{%= post._id %}">readmore</a> -->
            </p>

        </div>
    </div>
    <div class="d-flex d-block mt-2">
        <div class="d-flex gap-4">
            <div class="d-inline-block position-relative">
                <div onclick="like('{%= post._id %}')" style="cursor: pointer;">
                    <i class="bi bi-heart fs-3 me-2 text-danger"></i>
                    <span id="likeButton_{%= post._id %}"
                        class="position-absolute translate-middle badge rounded-pill bg-danger" style="top:10px;">
                        {%= post?.likedUsers.length %}
                    </span>
                </div>
            </div>
            <div class="d-inline-block position-relative" nav-icon>
                <i class="bi bi-eye fs-3 me-2 text-primary"></i>
                <span class="position-absolute translate-middle badge rounded-pill bg-primary" style="top:10px;">
                    {%= post?.visitedUsers.length %}
                </span>
            </div>
        </div>
        {% if (user) { %}
        <div class="col d-flex justify-content-end gap-2 align-items-center">
            <a class="btn btn-sm btn-primary" href="/posts/{%= post._id %}/update">Update</a>
            <a class="btn btn-sm btn-danger" href="/posts/{%= post._id %}/delete"
                onclick="return confirm('Are you sure?')">Delete</a>
        </div>
        {% } %}
    </div>
    <hr />
</article>
{% } %}

<script>
    async function like(postId) {
        try {
            const response = await fetch(`/api/v1/posts/${postId}/like`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            if (!response.ok) {
                throw new Error(`API request failed, HTTP error code: ${response.status}`);
            }
            const responseData = await response.json();
            document.getElementById("likeButton_" + postId).innerText = responseData.result?.likedUsers.length || 0;
        } catch (error) {
            alert('You must log in to like');
            console.error('Updating likes failed', error);
        }
    }
</script>