/* stylelint-disable stylistic/selector-list-comma-newline-after */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}
.text-justify {
  text-align: justify;
}
.fixed-top-bar {
  position: fixed;
  top: 0;
  z-index: 1000; /* Opsiyonel: Z-index değeri, diğer elemanlarla çakışmayı önlemek için ayarlanabilir. */
}

.big-image {
  float: left;
  width: 420px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.small-image {
  float: left;
  width: 240px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  max-height: 240px;
}
