{%- include('partials/incHeader') %}

<main class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container text-center">
        <img src="/assets/images/notfound.jpg" alt="Not Found" class="img-fluid">
        <a href="/" class="d-block mt-3">
            <i class="bi bi-arrow-left-circle fs-3 me-2"></i>
            <span>Back to Home</span>
        </a>
    </div>
</main>

{%- include('partials/incFooter') %}