{%- include('partials/incHeader') %}

<!-- Blog Categories -->
<div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
        {% for (const category of categories ) { %}
        <a class="nav-item nav-link link-body-emphasis"
            href="/posts?filter[blogCategoryId]={%= category._id %}&page=1"><b>{%=
                category.name %}</b></a>
        {% } %}
    </nav>
</div>
</div>
<!-- main start -->
<main class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <div class="admin-area text-end">
                <a class="btn btn-primary" href="/posts/create">New Post</a>
            </div>
            <h3 class="pb-4 fst-italic border-bottom">
                Welcome!
            </h3>
            <!-- BlogPosts -->
            {% for (let post of posts) { %}
            <article class="my-4">
                <h5 class="display-6 mb-4">
                    <a href="/posts/{%= post._id %}" class="link-body-emphasis text-decoration-none">{%= post.title
                        %}</a>
                </h5>
                <!-- <p class="text-justify" style="text-indent: 30px;">
                    <img class="image" src="{%= post.imageUrl %}"
                        alt="{%= post.blogCategoryId.name%}+'-'+{%= post._id %}">
                    {%= post.content %}
                </p> -->
                <p class="mb-3 text-muted">
                    <img class="small-image" src="{%= post.imageUrl %}" alt="{%= post.title%}">
                    {%= post.createdAt.toUTCString() %}
                </p>
                <p class="text-justify">{%= post.content.substring(0, 500) %}
                    <span id="dots-{%= post._id %}">...</span>
                    <span id="more-{%= post._id %}" style="display: none;">
                        {%= post.content.substring(501) %}
                    </span>
                    <a href="javascript:void(0);" onclick="readMore('{%= post._id %}')"
                        id="myBtn-{%= post._id %}">readmore</a>
                </p>
                <div class="row justify-content-between mt-4">
                    <div class="col d-flex justify-content-start gap-5">
                        <a href="#" type="button" class="btn btn-primary position-relative" nav-icon>
                            Like
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </a>
                        <a href="#" type="button" class="btn btn-primary position-relative" nav-icon>
                            Visited
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </a>
                    </div>
                    <div class="col d-flex justify-content-end gap-2 align-items-center">
                        <a class="btn btn-sm btn-primary" href="/posts/{%= post._id %}/update">Update</a>
                        <a class="btn btn-sm btn-danger" href="/posts/{%= post._id %}/delete"
                            onclick="return confirm('Are you sure?')">Delete</a>
                    </div>
                </div>
            </article>
            <hr class="bg-danger border-2 border-top border-danger" />
            {% } %}
            <!-- Pagination -->
            <nav class="p-3 text-center" aria-label="Pagination">
                <a class="btn btn-light me-2" href={%=paginations.current==1 ?"javascript:void(0);" :pageUrl +"page"+"="+details.pages.previous %}>&larr;</a>
                {% if (details.pages.current > 3) { %}
                <a class=" btn btn-secondary" href="{%= pageUrl %}page=1">
                    1
                </a>
                {% }%}
                {% if (details.pages.current > 4) { %}
                <span class="btn btn-light disabled me-2">
                    ...</span>
                {% }%}
                <!-- pages -->
                {% for (const link in paginations) { %}
                {% if (paginations[link]) { %}
                <a class="btn btn-{%= link=='current'? 'primary' : 'secondary' %}"
                    href="{%= pageUrl %}page={%= paginations[link] %}">
                    {%= paginations[link] %}
                </a>
                {% } %}
                {% } %}
                <!-- pages -->
                {% if (details.pages.total - 3 > details.pages.current ) { %} <span class="btn btn-light">...</span>
                {% } %}
                {% if (details.pages.total - 2 > details.pages.current ) { %}
                <a class="btn btn-secondary" href="{%= pageUrl %}page={%= details?.pages.total%}">
                    {%= details.pages.total %}
                </a>
                {% }%}
                <a class="btn btn-light me-2" href={%=paginations.current==details.pages.total ?"javascript:void(0);"
                    :pageUrl +"page"+"="+details.pages.next %}>&rarr;</a>
            </nav>
            <!-- totalRecords -->
            <div class=" text-center mb-4">
                    <span class=" p-2 text-black">Showing {%= details.skip+1 %} to {%= details?.pages?.next ?
                        details.skip+ details.limit: details?.totalRecords %} of {%=
                        details.totalRecords %} Entries </span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex position-sticky" style="top: 2rem;">
            <div>
                <h3 class="fst-italic">Recent Posts</h3>
                <ul class="list-unstyled">
                    <!-- Recent posts -->
                    {% for (const recentPost of recentPosts) { %}
                    <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                            href="/posts/:id">
                            <div class="col-lg-8">
                                <h5>{%= recentPost.title %}</h5>
                                <p class="my-2 text-justify">{%= recentPost.content.substring(0, 100)
                                    %} ...</p>
                                <small class="text-body-secondary">{%= recentPost.createdAt.toUTCString() %}</small>
                            </div>
                        </a>
                    </li>
                    {% } %}
                </ul>
            </div>
        </div>
    </div>
    </div>
</main>
<!-- main end -->

{%- include('partials/incFooter') %}

<script>
    function readMore(postId) {
        const dots = document.getElementById("dots-" + postId);
        const moreText = document.getElementById("more-" + postId);
        const btnText = document.getElementById("myBtn-" + postId);
        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "read less";
            moreText.style.display = "inline";
        }
    }
</script>