{%- include('incHeader') %}

<!-- Blog Categories -->
<div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
        {% for (const category of categories ) { %}
        <a class="nav-item nav-link link-body-emphasis" href="/post?filter[blogCategoryId]={%= category._id %}">{%=
            category.name %}</a>
        {% } %}
    </nav>
</div>
</div>
<!-- main start -->
<main class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <div class="admin-area text-end">
                <a class="btn btn-primary" href="/post/create">New Post</a>
            </div>
            <h3 class="pb-4 fst-italic border-bottom">
                Welcome to my blog site
            </h3>
            <!-- BlogPosts -->
            {% for (let post of posts) { %}
            <article class="mb-3">
                <h2 class="display-5 mb-1">
                    <a href="/post/{%= post._id %}" class="link-body-emphasis text-decoration-none">{%= post.title
                        %}</a>
                </h2>
                <p class="mb-3 text-muted">{%= post.createdAt.toUTCString() %}</p>
                <p>{%- post.content.substring(0, 500) %}
                    <span id="dots-{%= post._id %}">...</span>
                    <span id="more-{%= post._id %}" style="display: none;">
                        {%- post.content.substring(501) %}
                    </span>
                    <a href="javascript:void(0);" onclick="myFunction('{%= post._id %}')"
                        id="myBtn-{%= post._id %}">readmore</a>
                </p>
                <div class="text-end">
                    <a class="btn btn-sm btn-primary" href="/post/{%= post._id %}/update">Update</a>
                    <a class="btn btn-sm btn-danger" href="/post/{%= post._id %}/delete"
                        onclick="return confirm('Are you sure?')">Delete</a>
                </div>
            </article>
            {% } %}


            <nav class="p-3 text-center" aria-label="Pagination">
                <a class="btn btn-light me-2" href="{%= pageUrl %}&page=1">&laquo;</a>
                <a class="btn btn-light me-2"
                    href="{%= pageUrl %}&page={%= details.pages.previous?details.pages.previous:1 %}">&larr;</a>
                <a class="btn btn-{%= details.pages.current == 1 ? 'primary':'secondary' %}"
                    href="{%= pageUrl %}&page=1">
                    1
                </a>
                {% if (details.pages.current > 4) { %} <span class="btn btn-light disabled me-2">
                    ...</span>
                {% }%}
                {% if (details.pages.current > 2) { %}
                <a class="btn btn-secondary" href="{%= pageUrl %}&page={%= details.pages.previous-1 %}">
                    {%= details.pages.previous-1 %}
                </a>
                <a class="btn btn-secondary" href="{%= pageUrl %}&page={%= details.pages.previous %}">
                    {%=details.pages.previous %}
                </a>
                {% } %}
                {% if(details.pages.current != 1 && details.pages.current != details.pages.total) { %}
                <a class="btn btn-primary" href="{%= pageUrl %}&page={%= details.pages.current %}">
                    {%= details.pages.current %}
                </a>
                {% }%}
                {% if (details.pages.current < details.pages.total - 1) { %} <a class="btn btn-secondary"
                    href="{%= pageUrl %}&page={%= details.pages.next %}">
                    {%= details.pages.next%}
                    </a>
                    {% }%}

                    {% if (details.pages.current < details.pages.total - 2) { %} <a class="btn btn-secondary"
                        href="{%= pageUrl %}&page={%= details.pages.next+1 %}">
                        {%=details.pages.next+1 %}
                        </a>

                        {% } %}
                        {% if (details.pages.current < details.pages.total - 3) { %} <span class="btn btn-light">
                            ...</span>
                            {% }%}
                            <a class="btn btn-{%= details.pages.current == details.pages.total ? 'primary':'secondary' %}"
                                href="{%= pageUrl %}&page={%= details.pages.total %}">
                                {%= details.pages.total %}
                            </a>
                            <a class="btn btn-light me-2"
                                href="{%= pageUrl %}&page={%= details.pages.next %}">&raquo;</a>
                            <a class="btn btn-light me-2"
                                href="{%= pageUrl %}&page={%= details.pages.total %}">&rarr;</a>
            </nav>
            <!-- {% } %} -->
            <!-- totalRecords -->
            <p class="text-center">
                <span class="p-2 bg-dark text-white">Total {%= details.totalRecords %} Records</span>
            </p>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div>
                    <h3 class="fst-italic">Recent Posts</h3>
                    <ul class="list-unstyled">
                        <!-- Recent posts -->
                        {% for (let recentPost of recentPosts) { %}
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                href="/post/:id">
                                <div class="col-lg-8">
                                    <h5>{%= recentPost.title %}</h5>
                                    <p class="my-2">{%= recentPost.content.replace(/<(.|\n)*?>/g, '').substring(0, 100)
                                            %} ...</p>
                                    <small class="text-body-secondary">{%= recentPost.createdAt.toUTCString() %}</small>
                                </div>
                            </a>
                        </li>
                        {% } %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- main end -->

{%- include('incFooter') %}

<script>
    function myFunction(postId) {
        const dots = document.getElementById("dots-" + postId);
        const moreText = document.getElementById("more-" + postId);
        const btnText = document.getElementById("myBtn-" + postId);
        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "read less";
            moreText.style.display = "inline";
        }
    }
</script>