<footer class="container">
    <div class="py-5 text-center text-body-secondary bg-body-tertiary">
        <p>
            <b>Semih Kutlu</b>
            <b>Full Stack Developer</b>
            <br>Visit to <a href="https://semihkutlu.com/">Portfolio</a>
        </p>
    </div>
</footer>
</body>

</html>