<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <script src="/assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Semih's Blog Page</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/blog/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/assets/bs/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="/assets/blog.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/images/fluency-32.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="/assets/bs/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container bg-body-tertiary mb-5 mt-1">
        <nav class="navbar navbar-expand-lg navbar-light border-bottom lh-1 py-3">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/assets/images/fluency-96.png" alt="" style="width: 48px;">
                    <span class="d-inline-block" style="font-size: 2rem;">MY BLOG</span>
                </a>
                <div class="d-none d-md-block">
                    {% if (user) { %}
                    <span class="px-3 te"><b>{%= user?.email %}</b></span>
                    <a class="btn btn-sm btn-secondary" href="/auth/logout">Logout</a>
                    {% } else { %}
                    <a class="btn btn-sm btn-secondary" href="/auth/login">Login</a>
                    <a class="btn btn-sm btn-secondary" href="/auth/register">Register</a>
                    {% } %}
                </div>
                <div class="dropdown d-md-none">
                    <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-right">
                        {% if (user) { %}
                        <li class="dropdown-item"><span class="px-3 te"><b>{%= user?.email %}</b></span></li>
                        <li class="dropdown-item"><a class="btn btn-sm btn-secondary" href="/auth/logout">Logout</a>
                        </li>
                        {% } else { %}
                        <li class="dropdown-item"><a class="btn btn-sm btn-secondary" href="/auth/login">Login</a></li>
                        <li class="dropdown-item"><a class="btn btn-sm btn-secondary" href="/auth/register">Register</a>
                        </li>
                        {% } %}
                    </ul>
                </div>
            </div>
        </nav>


        <!-- <nav class="navbar navbar-expand-lg navbar-light border-bottom lh-1 py-3">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/assets/images/fluency-96.png" alt="" style="width: 48px;">
                    <span class="d-inline-block" style="font-size: 2rem;">MY BLOG</span>
                </a>
                <ul class="navbar-nav d-flex align-items-center">
                    {% if (user) { %}
                    <li class="nav-item me-3 d-none d-lg-block"><span class="px-3 te"><b>{%= user?.email %}</b></span>
                    </li>
                    <li class="nav-item me-3 d-none d-lg-block"><a class="btn btn-sm btn-secondary"
                            href="/auth/logout">Logout</a></li>
                    {% } else { %}
                    <li class="nav-item me-3 d-none d-lg-block"><a class="btn btn-sm btn-secondary"
                            href="/auth/login">Login</a>
                    </li>
                    <li class="nav-item me-3 d-none d-lg-block"><a class="btn btn-sm btn-secondary"
                            href="/auth/register">Register</a></li>
                    {% } %}
                </ul>
            </div>
        </nav> -->