<div class="col-md-4">
    <div class="d-flex position-sticky" style="top: 2rem;">
        <div>
            <h3 class="fst-italic">Recent Posts</h3>
            <ul class="list-unstyled">
                <!-- Recent posts -->
                {% for (const recentPost of recentPosts) { %}
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                        href="/posts/:id">
                        <div class="col-lg-8">
                            <h5>{%= recentPost.title %}</h5>
                            <p class="my-2 text-justify">{%= recentPost.content.substring(0, 100)
                                %} ...</p>
                            <small class="text-body-secondary">{%= recentPost.createdAt.toUTCString() %}</small>
                        </div>
                    </a>
                </li>
                {% } %}
            </ul>
        </div>
    </div>
</div>