{%- include('../partials/incHeader') %}

</div>
<!-- main start -->
<main class="container">
    <div class="row g-5">
        <div class="col-md-12 p-3">
            <a href="/"><i class="bi bi-arrow-left-circle fs-3 me-2"></i></a>
            <div class="mt-3">
                <h3 class="text-center">Users</h3>
                <form action="" method="POST">
                    <div class="table-responsive">
                        <table class="table" id="myTable">
                            <thead>
                                <tr>
                                    <th>username</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                    <th>Aktive</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for (const user of users) { %}
                                <tr>
                                    <td>{%= user.username %}</td>
                                    <td>{%= user.firstname %}</td>
                                    <td>{%= user.lastname %}</td>
                                    <td>{%= user.email %}</td>
                                    <td>{%= user.isActive %}</td>
                                    <td>delete</td>
                                </tr>
                                {% } %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- main end -->

{%- include('../partials/incFooter') %}


<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>